// Grid variables
$container-max-widths: (
  sm: 600px
);

$grid-gutter-width: 40px;
$nav-link-padding-x: 1.25rem;

// Colors
$theme-colors: (
  "light": #e9ecef
);
$light: #e9ecef;
$link-color: #65598f;
