// Default variables overrides
@import "./variables.scss";

// Import Bootstrap
@import "./bootstrap-imports.scss";


body {
    max-width: 900px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}