@import "./bootstrap-imports";
@import "./loader";
@import "./custom-card";

.card-header {
    flex-wrap: nowrap;
    overflow-x: auto;

    .nav-item {
        flex: 0 0 auto;;
    }
}

.img-fluid {
    object-fit: cover;
    aspect-ratio: 2;
}